<td class="fit"><%= link_to "#{player['person']['fullName']}", player_path(player['person']['id']) %></td>
<td class="fit"><%= player['jerseyNumber'] %></td>
<td class="fit"><%= player['position']['abbreviation'] %></td>
<td class="fit"><%= player['person']['id'] %></td>