<div class="col-lg-3 d-flex justify-content-center">
  <% if params.include? :organize_by %>
    <p><%= link_to team.name, team_path(team.id) %></p>
  <% else %>
    <div class="d-flex flex-column align-items-center">
      <%= image_tag "https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/#{team.id}.svg", size: '80x80' %>
      <p><%= link_to team.name, team_path(team.id) %></p>
    </div>
  <% end %>
</div>
