<div class="row">
  <% if params.include? :organize_by %>
    <% eastern_teams = @teams.select { |team| team.conference[:name] == 'Eastern' } %>
    <% western_teams = @teams.select { |team| team.conference[:name] == 'Western' } %>
    <%= render partial: 'partials/by_conference', locals: { eastern_teams: eastern_teams, western_teams: western_teams } %>
  <% else %>
    <% @teams.each do |team| %>
      <%= render partial: "team_card", locals: {team: team } %>
    <% end %>
  <% end %>
</div>
