<h1><%= "#{@team_json['teams'][0]['name']} Roster" %></h1>
<table class="table">
	<tr>
		<th>name</th>
		<th>number</th>
		<th>position</th>
	</tr>
	<% @roster.each do |player| %>
	<tr>
		<%= render partial: 'roster_spot', :locals => {:player => player} %>
	</tr>
	<% end %>
</table>
<% @team.teams[0].attributes.each do |k,v| %>
<p><%= "#{k}: #{v}" %></p>
<% end%>