<h1>teams#show </h1>
<br>
<div class="container">
  <div class="row">
    <h1>ROSTER</h1>
    <%= params %>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= @players %>
  </div>
</div>
