<%= link_to 'all teams', teams_path %>
<h1>ROSTER</h1>
<div class="container">
	<% @roster.each do |player| %>
		<div class="row">
			<div class="col"><%= link_to "#{player['person']['fullName']}", player_path(player['person']['id']) %></div>
			<div class="col"><%= player['jerseyNumber'] %></div>
			<div class="col"><%= player['position']['abbreviation'] %></div>
		</div>
	<% end %>
</div>
