<div class="row">
	<div class="col-6">
		<table class="table table-sm p-3 d-flex justify-content-center">
			<tr>
				<td>Goals</td>
			</tr>
			<tr>
				<th>Rank</th>
				<th>Goals</th>
				<th>Player</th>
			</tr>
			<%= render 'partials/goal_leaders' %>
		</table>
	</div>
</div>
<div class="row">
	<div class="col">FORM GOES HERE; do the thing where I select a year, and it pulls up the leaders in goals; i'm going to be passing params from the form, to the method; I don't think i'm required to have a model; just to be able to call the Celly method with the params provided by the form</div>
</div>
</div>
</div>
