<table class="table table-striped">
  <tr>
    <th>player</th>
    <th>id</th>
    <th>link</th>
  </tr>
  <% @roster.each do |player| %>
    <tr>
      <td><%= link_to player.fullName, team_player_path(params[:team_id], player.id) %></td>
      <td><%= player.id %></td>
      <td><%= player.link %></td>
    </tr>
  <% end %>
</table>
