<div class="row">
  <div class="col-12 border border-1 d-flex flex-wrap justify-content-center">
    <ul class="list-unstyled">
      <%  @games.each do |game| %>
        <li>
          <div class="col border border-1 m-2">
            <div class="border-1 border p-3">
              <div><%= game.home %></div>
              <div><%= game.away %></div>
              <div><%= game.status %></div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
