<div class="col p-3 d-flex flex-column align-items-center">
  <h2>Eastern Conference</h2>
  <% eastern_teams.each do |eastern_team| %>
    <div class="d-flex">
      <%= image_tag "https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/#{eastern_team.id}.svg", size: '80x80' %>
      <%= render partial: "team_card", locals: { team: eastern_team} %>
    </div>
  <% end %>
</div>
<div class="col p-3 d-flex flex-column align-items-center">
  <h2>Western Conference</h2>
  <% western_teams.each do |western_team| %>
    <div class="d-flex">
      <%= image_tag "https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/#{western_team.id}.svg", size: '80x80' %>
      <%= render partial: "team_card", locals: { team: western_team} %>
    </div>
  <% end %>
</div>
