<div class="col p-1 border"><%= link_to "#{player['person']['fullName']}", player_path(player['person']['id']) %></div>
<div class="col p-1 border"><%= player['jerseyNumber'] %></div>
<div class="col p-1 border"><%= player['position']['abbreviation'] %></div>
