<% if !current_user.nil? %>
  <%= current_user.email %>
<% end %>
<div class="row border border-1">
  <div class="row">
    <div class="col-6 border border-1">
      Choose your favorite team
    </div>
    <div class="col-6 border border-1">
      Total points: 0
    </div>
  </div>
</div>
