<div class="row">
  <% @standings['records'].each do |division| %>
    <div class="col-sm-12 col-md-6 d-flex flex-column align-items-center">
      <h2><%= division['division']['name'] %> </h2>
			<%= division['teamRecords'][0].keys %>
    </div>
  <% end %>
</div>
