<h1>Standings#index</h1>
<% @divisions.each do |division| %>
  <% division['teamRecords'].each do |team| %>
    <div class="row">
    <div class="col"><%=image_tag "https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/#{team['team']['id']}.svg", :size => "100x80" %></div>
    <div class="col"><%= team['team']['name'] %></div>
      
    </div>
  <% end%>
<% end %>
