<div class="row">
	<% @divisions.each do |division| %>
		<div class="col-3">
			<div class="col d-flex justify-content-center"><%= division['division']['name'] %></div>
			<% division['teamRecords'].each do |team| %>
				<div class="row">
					<div class="col d-flex justify-content-center"></div>
					<div class="col d-flex justify-content-center align-items-center"><%= team['team']['name'] %></div>
				</div>
			<% end%>
		</div>
	<% end %>
</div>