<div class="row border border-2">
  <div class="col d-flex justify-content-center">
    <h1>Welcome#index</h1>
  </div>
</div>
<div class="row border border-1">
  <div class="col d-flex justify-content-center">
    here is a column spanning all 12-columns (in a row) for content
  </div>
</div>
