
<h1>type the name of the player to get their stats:</h1>
<%= form_with scope: :player, method: :get , url: player_path(id = 8478402), local: true do |form| %>
<%= form.label :player_name %>
<%= form.text_field :player_name  %>
<br>
<%= form.submit 'submit' %>
<% end %>

