<div class="container">
	<div class="row">
			<%= link_to 'Back to Full Roster', team_path(@player['currentTeam']['id']) %>
		</div>
</div>
<table class="table">
	<tr>
		<th>ID</th>
		<th>name</th>
		<th>link</th>
		<th>first</th>
		<th>last</th>
		<th>number</th>
		<th>birthdate</th>
		<th>stats</th>
	</tr>
	<tr>
		<%= render partial: 'player' %>
	</tr>
</table>
