<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h2>About hockeyStats</h2>
    <p>This is a vanity project to learn about consuming the NHLstats API that isn't officially documented.</p>
    <p>It's also an opportunity to explore the world of statistical analysis when it comes to player evaluation.</p>
    <p>Over the past several years there's been an increase in the prevalance of player evaluation and conversation RE various statistical analysis. It's my conviction that some of these models miss the mark when it comes to evaluating a hockey player, playing hockey.</p>
    <p>The game of hockey is very nuanced, and yet such a simple premise. As a player who won a national championship at one of the highest amateur levels in America I feel capable of speaking about the game. </p>
    <p>Leveling up to more and more challenging leagues, the game became simpler while the talent increased. Eventually though, there was a tipping point when all the players were more or less excellent and capable. What seperated those who got an opportunity versus those who struggled was not tangible.</p>
    <p>With talent being (more or less) equal, players became crafty, intelligent, tricky, efficient, subtle and nuanced that most casual fans simply don't/can't appreciate.</p>
    <p>Case in point: Would a Center ever lose a draw on purpose? Are some players just completely not invovled in a play when a team scores? Can a player create a turnover and opportunity without ever touching the puck? Absolutely, to all of these.</p>
    <p>The goal is to gain a grasp on what the models are, what they're measuring and how they were arrived at as a legitimate metric.</p>
    <p>In time, I hope to be able to develop new metrics that are applicable to players playing a fast-moving, free-flowing game as part of an overall team.</p>
  </div>
</div>

